.toast-message {
  position: fixed;
  bottom: 30px;
  left: 45%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  animation: fadeInOut 3s ease forwards;
  z-index: 9999;
}


@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(20px); }
}
