<div class="container mt-4">
  <h2>KPI - Mapping Master</h2>
  <p>Manage the KPI - Mapping in the system.</p>

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h4>Add/Edit KPI-Mapping</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="savekpiMapping()">
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select id="role" class="form-select" [(ngModel)]="kpiMapping.role" name="role">
            <option value="GM">GM</option>
            <option value="AGM">AGM</option>
            <option value="AGM_IT">AGM_IT</option>
            <option value="AGM_AUDIT">AGM_AUDIT</option>
            <option value="AGM_INSURANCE">AGM_INSURANCE</option>
            <option value="DGM">DGM</option>
             <option value="HO_STAFF">HO_STAFF</option>
            <option value="Attender">ATTENDER</option>
          </select>
        </div>

       <div class="mb-3">
          <label for="kpi_id" class="form-label">KPI Name</label>
          <select id="kpi_id" class="form-select" [(ngModel)]="kpiMapping.kpi_id" name="kpi_id">
            <option *ngFor="let kpi of kpiList" [value]="kpi.id">{{ kpi.kpi_name }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="weightage" class="form-label">Weightage</label>
          <input type="text" class="form-control" id="weightage" [(ngModel)]="kpiMapping.weightage" name="weightage">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>SR.NO</th>
        <th>Role</th>
        <th>Kpi ID</th>
        <th>weightage</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kpi of paginatedkpiMapping">
        <td>{{ kpi.id}}</td>
        <td>{{kpi.role}}</td>
        <td>{{kpi.kpi_id}}</td>
        <td>{{ kpi.weightage }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-2" (click)="editKpiMapping(kpi)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteKpiMapping(kpi.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav *ngIf="totalPages > 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="#" (click)="goToPage($event, currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
        <a class="page-link" href="#" (click)="goToPage($event, i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="#" (click)="goToPage($event, currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
