
.page-break {
  page-break-before: always;
  break-before: page;
}

.staff-page {
  page-break-inside: avoid;
  break-inside: avoid;
}

table,
thead,
tbody,
tr {
  page-break-inside: avoid;
  break-inside: avoid;
}
/* .report-scroll-body {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
} */



.modal-dialog {
  max-height: 95vh;
}

.modal-content {
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

.modal-header {
  flex: 0 0 auto;
}


.modal-body.report-scroll-body {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding-right: 12px;
}

/* Optional scrollbar styling */
.modal-body.report-scroll-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body.report-scroll-body::-webkit-scrollbar-thumb {
  background: #0d6efd;
  border-radius: 4px;
}
